RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|jpeg|png|gif|bmp|svg|ico|woff|woff2|ttf|eot|otf)$ [NC]
RewriteRule ^ index.php [QSA,L]
