/* Sidebar  */

.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: #d7d7d7 1px solid;
    padding-bottom: 1rem;
}

.user__pfp {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.user__name {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #f1f1f1;
}

.user__role {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    font-weight: 300;
    color: #989898;
}

.user__btn {
    display: flex;
    margin-top: 0.7rem;
    font-size: 1rem;
    padding: .7rem;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    border: rgb(79, 150, 207) 1px solid;
    color: rgb(79, 150, 207);
    border-radius: 6px;
    background-color: #40528d;
}

.user__btn:hover {
    border: rgb(65, 125, 175) 1px solid;
    color: rgb(65, 125, 175);
    cursor: pointer;
}

.table__header th {
    padding: 1rem;
    padding-top: 0.5rem;
    min-width: 2rem;
    padding-bottom: 0.5rem;
    height: 3rem;;
}

.sidebar {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 400;
    border-right: #3f3f3f solid 1px;
    background: rgb(64,82,141);
    background: linear-gradient(180deg, #40528d 70%, #374671 90%);    height: 100vh;
}

.hamburger {
    display: none;
}

.link__icon {
    margin-right: 1rem;
}

.sidebar li {
    margin: 0.8rem
}

.sidebar__link {
    text-decoration: none;
    color: #fff;
    padding: 0.6rem;
    border-radius: 6px;
}

.sidebar__link:hover {
    background-color: #1d4ed8;
}

.sidebar__link:visited {
    color: #fff
}

/* Tabla de datos */

.data {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 2rem;
    height: 100dvh;
    overflow-x: scroll;
}

.table__data {
    padding: 1rem;
    margin-top: 0.5rem;
}

.data__table {
    font-size: 1.125rem;
    border-collapse: collapse;
    width: 100%;
    background-color: #dcdcdc;
}

.data__piece {
    display: table-cell;
    text-align: center;  
    padding: 0px;
    margin: 10px;
    padding: 1rem;
    border-top: #BDBDBD solid 1px;
    border-bottom: #BDBDBD solid 1px;
}

.table__data:hover {
    background-color: #989898;
}

.table__data:hover .update__btn {
    background-color: #989898;
}

.table__opt {
    padding: 1rem;
}

.piece__badge-confirmed {
    font-weight: 600;
    background-color: #38970c;
    padding: 0.5rem;
    border-radius: 6px;
}

.piece__badge-cancelled {
    font-weight: 600;
    background-color: red;
    padding: 0.5rem;
    border-radius: 6px;
}

.piece__badge-pending {
    font-weight: 600;
    background-color: orangered;
    padding: 0.5rem;
    border-radius: 6px;
}

/** Modals  */

.data__options {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #5374bd;
    border-radius: 12px 12px 0px 0px;
}

.data__options input {
    padding: 0.5rem;
    border-radius: 2px;
}

.data__options button {
    padding: 0.5rem;
}

.data__options span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 900;
    font-size: 1.325rem;
}
.table__data:hover .delete__btn {
    background-color: #989898;
}

.data__btn {
    text-align: center;
    font-size: 1.5rem;
    border-top: #BDBDBD solid 1px;
    border-bottom: #BDBDBD solid 1px;
}

.data__control {
    margin-bottom: 1rem;
    align-self: left;
}

.insert__btn {
    font-weight: 600;
    font-size: 1rem;
    border: #22c55e solid 1px;
    background-color: #5374bd;
    color: #22c55e;
    border-radius: 6px;
}

.btn__text {
    display: none;
    font-size: 0px;
}

.insert__btn:hover .btn__text {
    font-size: 1rem;
    color: green;
    transition: 0.1s;
}

.delete__btn {
    color: red;
    background-color: #dcdcdc;
    border: 0px;
    font-size: 1.25rem;
}

.delete__btn:hover {
    color: rgb(200, 0, 0);
    transition: 0.2s;
}

.update__btn {
    color: blue;
    background-color: #dcdcdc;
    border: 0px;
    font-size: 1.25rem;
    
}

.update__btn:hover {
    color: rgb(0, 0, 200);
    transition: 0.2s;
}

.modal__insert {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100dvh;
    height: 100dvh;

    background-color: rgb(0, 0, 0, 0.7);
}

.modal__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    background-color: #d7d7d7;
    max-width: 500px;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
}

.close__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.725rem;
    padding-left: 0.725rem;
    border-radius: 0px 12px 0px 12px;
    border: none;
    background-color: #d7d7d7;
    position: absolute;
    justify-self: right;
}

.close__btn:hover {
    background-color: rgb(245, 45, 45);
    color: #fff;
    transition: 0.35s;
}

.form__btn-update {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;

    border-radius: 6px;
    background-color: rgb(59 130 246);
}

.form__btn-update:hover {
    background-color: rgb(37 99 235);
    color: #fff;
    transition: 0.35s;
}

.form__btn-delete {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;

    border-radius: 6px;
    background-color: rgb(239 68 68);
}

.form__btn-delete:hover {
    background-color: rgb(185 28 28);
    color: #fff;
    transition: 0.35s;
}

.form__btns {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.form__btn-cancel {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;

    border-radius: 6px;
    background-color: rgb(220 38 38);
}

.form__btn-cancel:hover {
    background-color: rgb(185 28 28);
}

.form__btn-submit {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;

    border-radius: 6px;
    background-color: rgb(34 197 94);
}

.form__btn-submit:hover {
    background-color: rgb(22 163 74);
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.form__label {
    padding-top: 0.35rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
}
/* Input de los modals  */
.form__input {
    padding: 0.525rem;
    border-radius: 6px;
    border: none;
}

.modal__title {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/3;
    padding: 1rem;

}

.modal__form {
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 2/4;
}

.modal__update {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.7);
}

.modal__delete {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.7);
}

.modal__title-delete {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/3;
    padding: 2rem;
}