<?php 

$DBType = 'mysql'; // Database type.
$ip = 'localhost'; // IP of the DB server
$port = '3307'; // Server Port.
$dbname = 'clinic'; // Name of database.

$username = 'root'; // Username of the db.
$passwd = ''; // Database password.

$kitFontAwesome = ''; // Fontawesome URL (to import)

// Global variables definition.
define('DB_DSN', $DBType . ':host=' . $ip . ';port=' . $port . ';dbname=' . $dbname);
define('DB_USER', $username);
define('DB_PASS', $passwd);
define('FA6_URL', $kitFontAwesome);
?>