<?php 

$DBType = 'mysql'; // Tipo de base de datos.
$ip = 'localhost'; // Ip del servidor de base de datos
$port = '3307'; // Puerto del servidor de base de datos (Si no lo requiere, dejar vacío).
$dbname = 'clinica'; // Nombre de la base de datos.

$username = 'root'; // Nombre de usuario de la base de datos.
$passwd = ''; // Contraseña de la base de datos

$kitFontAwesome = ''; // El enlace que consigues al hacer un kit de Font Awesome

// Definición de variables globales
define('DB_DSN', $DBType . ':host=' . $ip . ';port=' . $port . ';dbname=' . $dbname);
define('DB_USER', $username);
define('DB_PASS', $passwd);
?>